/* ---------Default Section--------- */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.primary-btn {
    background-color: #f15b22;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

/* -------------Header Section------------ */
.header {
    background: url(./images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header-content {
    width: 85%;
    text-align: right;
}

.header-content h1 {
    font-size: 48px;
}

.header-content p {
    font-size: 13px;
    margin: 0 0 16px 0;
    line-height: 2em;
}