/* ---------Default Section--------- */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 936px;
    margin: auto;
}

.primary-btn {
    background-color: #f15b22;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

/* -------------Header Section------------ */
.header {
    background: url(./images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header-content {
    width: 85%;
    text-align: right;
}

.header-content h1 {
    font-size: 48px;
}

.header-content p {
    font-size: 13px;
    margin: 0 0 16px 0;
    line-height: 2em;
}

/* ----------About Section---------- */
.about {
    padding: 60px 0;
    display: flex;
    align-items: center;
}

.about-photo {
    width: 50% !important;
}

.about-content {
    margin-left: 50px;
    margin-top: 65px;
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 14px;
}

.about-content p {
    font-size: 13px;
    margin-bottom: 10px;
}

.about-content ul li {
    list-style: none;
    font-size: 13px;
    line-height: 2em;
}

.about-content ul li i {
    font-size: 16px;
    color: #16d887;
    margin-right: 7px;
}

/* ----------Plane Section---------- */
.plane {
    padding: 60px 0;
    text-align: center;
}

.plane h1 {
    font-size: 34px;
    margin-bottom: 35px;
}

.plane-boxes {
    display: flex;
}

.plane-box {
    width: 234px;
}

.plane-box img {
    width: 65px;
}